/* Postamp Grotesk Font Family - Optimized Loading */

/* Light Weight - 300 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular Weight - 400 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium Weight - 500 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold Weight - 600 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold Weight - 700 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold Weight - 800 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black Weight - 900 */
@font-face {
  font-family: 'Postamp Grotesk';
  src: url('https://fonts.cdnfonts.com/s/95504/PostampGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
